
@import url('/css/responsive.css');
ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

img{
    display: block;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display';
    font-weight: normal;
    letter-spacing: 1px;
}

body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #373737;
    background: linear-gradient(45deg,  #49C514, #4C8434 , #60A3DB, #90B9DB);
}

header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
    content: "";
    display: table;
    clear: both;
    } 

.container {
    margin: 0 auto;
    text-align: justify;
    width: 100%;
    max-width: 960px; 
    padding: 0 15px;
} 



header {
    width: 100%;
    background: linear-gradient(45deg,  #49C514, #4C8434 , #60A3DB, #90B9DB);
    box-shadow: 3px 3px 1px rgba(0,0,0,.05);
    padding: 15px 0;
    margin-bottom: 30px;
    position: relative;
}

.logo{
    display: block; 
    text-align: center;
}



#menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(60deg,  #49C514, #4C8434 , #60A3DB, #90B9DB);
    border-radius: 10px;
}




#menu li {
    float: left;
}

#menu li:last-child{
    float: right;
}

#menu li a{
    
    color: rgb(0, 1, 2);
    display: block;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    outline: none;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 10px;
    margin-left: 40px;
}



#menu li a:before{
    content: '';
    border-bottom: 2px solid #000;
    padding: 0 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: 0 auto;
    width: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#menu li a:hover:before{
    width: 100%;
    padding: 0;
}

.menuBurger {
    display: none;   /* иконка гамбургер скрыта */
  }

.photo-image{
    max-width: 600px;
    max-height: 400px;
}

.albom-page{
    margin: 0 auto;
}

.photo-albom{
    text-align: center;
}

.photo-content{
    text-align: center;
}

.post-title{
    text-align: justify;
}

.post-list{
    margin-bottom: 30px;
    width: 100%;
    
    float: left;
}

.post{
    margin-bottom: 35px;
}

.post-content p{
    line-height: 1.5;
    padding-bottom: 1em;
}

.post-image{
    margin-bottom: 30px;
}

.albom-page{
   
    max-width: 600px;
    max-height: 450px;
}

.post-title{
    margin-bottom: 12px;
    font-size: 26px;
}

.scrol{
    background: white;
}

.teachers{
    line-height: 1.5;
    padding-bottom: 1em;
}

footer {
    
    padding: 30px 0;
    background: #3C3D41;
    color: white;
}
